@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~stream-chat-react/dist/css/v2/index.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background-gray: #202223;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.str-chat {
  --str-chat__message-list-background-color: var(--background-gray);
}

.str-chat__container {
  background-color: var(--background-gray);
}

.str-chat__message-input {
  background-color: var(--background-gray);
}

body {
  height: 100dvh;
  display: flex;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.str-chat__channel-list {
  width: 100%;
}
.str-chat__channel {
  width: 100%;
}
.str-chat__thread {
  width: 45%;
}